*{
    padding :0;
    margin:0;
    box-sizing: border-box;
}
body{
    background: url('https://wallpaperaccess.com/full/512859.jpg') no-repeat center center fixed;
    background-size: cover;
}
.container{
    height:100vh;
    display:flex;
    
}
.main{
    margin:auto;
    width:640px;
    height:400px;
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(4px);
    padding:10px;
    border-radius: 5px;
}
.card{
    width:600px;
    padding:10px;
    margin: 2px;
    background:rgba(75, 73, 73, 0.4);
    border-radius: 5px;
    color:black;
}
.box{
    overflow-y: scroll;
    overflow-x: hidden;
    width:600px;
    height: 300px;
    margin:20px 20px;
}
.header{
    margin:10px 20px;
    padding:10px;
    background:rgba(14, 13, 13, 0.4);
    text-align: center;
    border-radius: 5px;
    color:black;
}

